/* 表格美化 */
table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* 按鈕樣式 */
a, button {
    text-decoration: none;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

a {
    
    color: white;
}


button {
    background-color: #f44336;
    color: white;
}

button:hover {
    background-color: #da190b;
}

/* 表單美化 */
form div {
    margin-bottom: 10px;
}

input {
    padding: 5px;
    width: 200px;
}

